blender-build.tar.gz filter=lfs diff=lfs merge=lfs -text
blender_nuclear-v4.4.3_x64_Linux/** filter=lfs diff=lfs merge=lfs -text
4.4/** filter=lfs diff=lfs merge=lfs -text
blender filter=lfs diff=lfs merge=lfs -text
lib/** filter=lfs diff=lfs merge=lfs -text
